@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
    --white-light: #faf7fc;
  }

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body, 
html {
font-family: 'Poppins', sans-serif;
background: #1E1E1E;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .tree-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tree-container .avatar {
  width: 213px;
  height: 213px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #FFEEA0;
  border-radius: 50%;
}

.tree-container .avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.tree-container .insta-user {
  margin-top: 15px;
  color: #FFEEA0;
}

.tree-container .links-container {
margin-top: 17px;
display: flex;
flex-direction: column;
}

.links-container .link {
    color: #FFEEA0;
    margin-top: 16px;
    width: 325px;
    border: 2px solid #FFEEA0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    transition: ease 0.36s;
}

.links-container .link:hover {
background: #3CB371;
color: var(--white-light);
}

.tree-container .socials-container {
  margin-top: 68px;
  display: grid; 
  grid-template-columns: repeat(5,1fr);
  gap: 29px;
}

.socials-container .social {
  transform:scale(0.9);
  transform: ease 0.3s;
}

.socials-container .social:hover {
    transform: scale(1);
}